.course{
  height: 130px;
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
  border: ridge;
  position: relative;
}

.coreStyle {
  background-color: lightgrey;
}

.additionalStyle {
  background-color: lightcyan;
}

.title, .duration {
  float: left;
}

.creationDate {
  float: left;
  text-align: right;
}

.title, .creationDate, .duration {
  margin-top: 15px;
}

.title, .creationDate, .duration, .description {
  margin-left: 35px;
}

.description{
  position: absolute;
  bottom: 0px;
  margin-bottom: 20px;
}

.title {
  width: 25%;
}

.creationDate, .duration {
 width: 16%;
}

.star {
  height: 23px;
  width: 21px;
  position: absolute;
  background: url(../../static/images/stars-5.png) 0 0;
  background-size: 105px 25px;
}

.buttons{
  margin-top: 15px;
  margin-right: 0;
  float: right;
  width: 15%;
}

button {
  background-color: #ddd;
  border-radius: 12px;
  cursor: pointer;
  font-style: italic;
  font-family: Comic Sans MS, Comic Sans, cursive;
  width: 90%;
  margin-top: 5px;
}
