<div class="logo">
  <div>
    <img style="height: 70px; width: 140px;" src="https://res.cloudinary.com/ait-website/image/upload/v1486509249/AIT_LOGO_newblue_y9eugb.png">
  </div>
  <div>
    <button routerLink="/courses">Courses</button>{{courseName}}
  </div>
  <div class="auth" *ngIf="(authInfo | async).authInfo.isAuth; then thenBlock else elseBlock">
  </div>
  <ng-template #thenBlock>
    <div class="auth">
      <p>Hello, {{(authInfo | async).authInfo.username}}</p>
       <a routerLink="/" (click)="logout()">Logout</a>
    </div>
  </ng-template>
  <ng-template #elseBlock>
    <div class="auth">
      <a routerLink="/">Login</a>
    </div>
  </ng-template>
</div>
