.courses-page {
  margin: 5px;
  border: ridge;
  background-color: whiteSmoke;
  min-height: 750px;
}

.noData {
  font-size: 25px;
  width: 100%;
  text-align: center;
  font-style: italic;
  font-family: Comic Sans MS, Comic Sans, cursive;
}
