<div class="courses-page">
  <app-toolbox></app-toolbox>
  <div *ngIf="isListEmpty; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <div class="noData">No data. Feel free to add new course</div>
  </ng-template>
  <ng-template #elseBlock>
    <div *ngFor="let course of courses">
      <app-course
        [name]="course.name"
        [duration]="course.duration"
        [description]="course.description"
        [date]="course.date"
        [isTopRated]="course.isTopRated"
        [id]="course.id">
      </app-course>
    </div>

  <div>
    <ul *ngIf="pageItems.length > 1" class="pagination">

      <li *ngFor="let page of pageItems">
        <a class="page" (click)="currentPage = page; getList()">{{page}}</a>
      </li>

     </ul>
  </div>

  </ng-template>
</div>
