<div class="courses-page">
  <app-toolbox></app-toolbox>
  <div *ngIf="isListEmpty; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <div class="noData">No data. Feel free to add new course</div>
  </ng-template>
  <ng-template #elseBlock>
    <div *ngFor="let course of courses">
      <app-course
        [name]="course.name"
        [duration]="course.duration"
        [description]="course.description"
        [date]="course.date"
        [isTopRated]="course.isTopRated"
        [id]="course.id">
      </app-course>
    </div>
  </ng-template>
</div>
