<div class="modalWindow">
  <p class="addText">Create new course</p>
  <input type='text' [(ngModel)]='title' placeholder="Title">
  <input type='number' [(ngModel)]='duration' placeholder="Duration min.">
  <input type='text' [(ngModel)]='description' placeholder="Description">
  <div style="width: 100%; margin: 6px;">
    <p class="addStar">Add star to course?</p>
    <input class="checkbox" type="checkbox" [checked]="hasStar" (change)="hasStar = !hasStar" />
  </div>
  <div class="buttons">
    <button (click)="close()">Cancel</button>
    <button (click)="addCourse()">Create</button>
  </div>
</div>
